# Solve the following questions without using decision statements (e.g. if) or loops (e.g. for).

1. Verify if a value is an integer

In [1]:
a = 2

In [2]:
type(a)

int

2. Verify if a value is even

In [3]:
b = 3

In [4]:
b / 2 == 0

False

3. Insert two numbers. Is the first is bigger than the second?

In [5]:
num1 = input("Primeiro número: ")

Primeiro número: 3

In [6]:
type(num1)

str

In [7]:
num1=int(num1)

In [8]:
num2 = int(input("Segundo nÚmero: "))

Segundo nÚmero: 6

In [9]:
num1>num2

False

In [10]:
num1 =2
num2 =4

4. Verify if one value is multiple of another

In [11]:
num1 % num2 == 0 or num2 % num1 == 0

True

5. Calculate the interest earn by an investor that invested an amount of capital of 200 during three years with an interest rate of 3%.(I= P*R*T)

In [12]:
capital = 200
rate = 0.03
time = 3
interest =capital * rate * time

In [13]:
print(interest)

18.0

6. Capital that an investor obtained after investing an amount of capital of 200 during three years with an interest rate of 3%. (Compound interest)

In [14]:
P6 = 200
R6 = 0.03
T6 = 3
I6 = (P6*R6*T6)

In [15]:
C6=P6+(P6*R6*T6)

In [16]:
print(C6)

218.0

In [17]:
print(P6+(P6*R6*T6))

218.0

In [18]:
CapitalAcum = capital * (1+rate) ** time

In [19]:
CapitalAcum

218.5454

7. Calculate your BMI (Body Mass Index)

In [20]:
#BMI = M / (H*H)
M = 55
H = 1.63
BMI = M / (H**2)
print(BMI)

20.70081674131507

8. Calculate the Golden ration: gr = (1 + 5**(1/2))/2
    8.1. Solve the problem without using libraries
    8.2. Use module math (import math) and function sqr (math.sqrt)

In [21]:
gr = (1+5**(1/2))/2

In [22]:
print (gr)

1.618033988749895

In [23]:
import math 
gr2 = (1+math.sqrt(5))/2

In [24]:
print (gr2)

1.618033988749895

9. Calculate the NPV (Net present value) of an investment, considering an initial investment of 10000, the following: Cashflows 2000,3000, 4000, 4000 and 5000 and a discount rate of 10%. Where: FV = Future cost of the cash inflows, I = Initial Investment k = Discount rate equal to the owner’s cost of capital

In [25]:
#NPV function arguments
k =  0.10
investment = 10000
cf_1 = 2000
cf_2 = 3000
cf_3 = 4000
cf_4 = 4000
cf_5 = 5000
t1 = 1
t2 = 2
t3 = 3
t4 = 4
t5 = 5

In [26]:
PV = (cf_1/(1+k)**t1) +  (cf_2/(1+k)**t2) + (cf_3/(1+k)**t3) + (cf_4/(1+k)**t4) + (cf_5/(1+k)**t5)

In [27]:
print (PV)

13139.440301519393

In [28]:
NPV = PV - investment

In [29]:
print (NPV)

3139.440301519393

10. Ask the user to insert name and age. Calculate the birth year. Print a result saying the 'this person was born in.'
    
    10.1. Solve the problem without using modules and libraries
    
    10.2. Solve the problem using the date library from module datetime, as fallow:
    
    from datetime import date
    today = date.today()
    today.year

In [30]:
nome = str(input("Insira o nome"))

Insira o nomeInês

In [31]:
idade = int(input("Insira a idade"))

Insira a idade21

In [32]:
from datetime import date
today = date.today()
today.year

2020

In [33]:
birthday = today.year - idade

In [34]:
n = print (birthday)

1999

In [35]:
print ("A "+ nome + " nasceu em " + str(birthday))

A Inês nasceu em 1999

11. Ask the user to insert forenames, surnames. Create a new variable (name) with your complete name.
    Create the following variables:
    nameBig - all the characters of the name are capitalized.
    nameTitle - only the first character of each name (word) is capitalized.
    nameSmall - all the characters of the name are lowercase.
    nameCapitalized - only the first character of the first name is capitalized.

In [36]:
forenames = str(input("Insira os seus nomes"))

Insira os seus nomesInês Sofia

In [37]:
surnames = str(input("Insira os seus apelidos"))

Insira os seus apelidosCarvalheira Santos

In [38]:
name = forenames + " " + surnames

In [39]:
print (name)

Inês Sofia Carvalheira Santos

In [40]:
len(name)

29

In [41]:
nameBig = str.upper(name)
print(nameBig)

INÊS SOFIA CARVALHEIRA SANTOS

In [42]:
nameTitle = str.title(name)
print(nameTitle)

Inês Sofia Carvalheira Santos

In [43]:
nameSmall = str.lower(name)
print(nameSmall)

inês sofia carvalheira santos

In [44]:
nameCapitalized = str.capitalize (name)
print(nameCapitalized)

Inês sofia carvalheira santos

12. Use the following method to show in which character appears the first "da"
    str.find(sub,start,end)
    What happens if the content of sub is not found in str?

In [45]:
str.find(sub,start,end)

NameError: name 'sub' is not defined

Resposta 12) "sub" não é encontrado, por isso o código dá-nos erros.