**LabML01(KNN)**

The k-nearest neighbors (KNN) is  easy-to-implement supervised machine learning algorithm that can be used to solve  classification. The KNN algorithm uses 'feature similarity' to predict the values of any new data points. This means that the new point is assigned a value based on how closely it resembles the points in the training set.
k in kNN algorithm represents the number of nearest neighbor points which are voting for the new test data’s class.

K nearest neighbors or KNN Algorithm is a simple algorithm which uses the entire dataset in its training phase. Whenever a prediction is required for an unseen data instance, it searches through the entire training dataset for k-most similar instances and the data with the most similar instance is finally returned as the prediction.

The similarity of the new point and the points in the training set is based on a distance measure. 

Add comments into the following code.

In [1]:
# invocar pandas para trabalhar dataframes
import pandas as pd

In [2]:
# guardar um string na variável URL
url='https://raw.githubusercontent.com/masterfloss/data/main/jogadores.csv'
df=pd.read_csv(url,sep=";")

In [3]:
# mostra as cinco primeiras linhas da tabela por default "por omissão"
# objetivo: saber os dados que foram importados e que fazem parte da minha
df.head()

   Epoca  Idade  Altura  Minutos  Ser Transferido  Valor de Mercado Posicao
0   2015     27     1.9     4050                0              18.0      GK
1   2016     28     1.9     4126                0              14.0      GK
2   2017     29     1.9     3420                0              16.0      GK
3   2018     30     1.9     5100                1              16.0      GK
4   2019     31     1.9     3330                0              20.0      GK

In [4]:
# criar um novo dataframe (ou tabela) com base no dataframe inicial
X1=df.loc[:,['Idade','Altura','Minutos','Valor de Mercado']]

In [5]:
# nota: os valores têm escalas diferente por isso é preciso fazer um "scale", para passar tudo para a mesma escala; é preciso standardizar os valores
from sklearn.preprocessing import StandardScaler
standardizer=StandardScaler()
#X1Stand=standardizer.fit_transform(X1)
scaler=standardizer.fit(X1)

In [6]:
# standardizar os valores e armazená-los no array
# vai aplicar a média e desvio padrão que tinha sido calculada
X1Stand=scaler.transform(X1)

In [7]:
type (X1Stand)

numpy.ndarray

In [8]:
# serve para ver os dados que eu recolhi
X1.head()

   Idade  Altura  Minutos  Valor de Mercado
0     27     1.9     4050              18.0
1     28     1.9     4126              14.0
2     29     1.9     3420              16.0
3     30     1.9     5100              16.0
4     31     1.9     3330              20.0

In [9]:
# converter em alguma coisa, ié, cada posição de jogo passou a ser um número, GK = 0, etc...
# .head() serve para "juntar" os valores
posi=pd.get_dummies(df['Posicao'], prefix='pos')
posi.head()

   pos_ATA  pos_DEF  pos_GK  pos_MED
0        0        0       1        0
1        0        0       1        0
2        0        0       1        0
3        0        0       1        0
4        0        0       1        0

In [10]:
# processo de juntar um conjunto de elemtentos
# tuple de tuples em que... o objetivo é juntar todas os dados das diversas colunas numa mesma estrutura 
XArray=zip(posi['pos_ATA'],posi['pos_DEF'],posi['pos_GK'],posi['pos_MED'],X1Stand[:,0],X1Stand[:,1],X1Stand[:,2],X1Stand[:,3])

In [11]:
type (XArray)

zip

In [12]:
print (XArray)

<zip object at 0x0000011B2986C640>

In [13]:
# converter o objeto zip numa lista
features=list(XArray)

In [14]:
# Features

In [15]:
#
from sklearn.neighbors import KNeighborsClassifier
#
model = KNeighborsClassifier(n_neighbors=3)
#
model.fit(features,df['Ser Transferido'])

KNeighborsClassifier(n_neighbors=3)

In [16]:
import numpy as np
# Goalkeeper, 30 years old, 1.90 m, 5100 minutes, market Value=16 ?
# não posso aplicar estes dados diretamente, tenho de standardizar (que é o OUT que nos vai ser "revelado")
newdata=np.array([[30,1.90,5100,16]])
newvalues=scaler.transform(newdata)
newvalues

array([[3.0697833 , 1.43018826, 3.02329407, 0.89135565]])

In [17]:
#
list(newvalues)

[array([3.0697833 , 1.43018826, 3.02329407, 0.89135565])]

In [18]:
# se standardizasse tudo ao início não tinha agora a complicação de ter de "alterar" tudo durante a realização do LAB, mas não faz muito sentido fazer standardização pela facto de haver valores que já são 0 ou 1
teste=np.concatenate((np.array([[0,0,1,0]]),newvalues), axis=1)

In [19]:
# podemos juntar os dois arrays através da concatenação
teste

array([[0.        , 0.        , 1.        , 0.        , 3.0697833 ,
        1.43018826, 3.02329407, 0.89135565]])

In [20]:
# buscar o modelo e utilizar "predict"
predicted = model.predict(teste) 
print(predicted)

[0]

Now let split the sample in training and test...

In [21]:
# vou dvididr os dados; dizer que uns vão para treino os outros para teste e divido-os em 70/30
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, df['Ser Transferido'], test_size=0.3)

In [22]:
#
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)

In [23]:
# ver as diferenças entre o valor real e o valor previsível do modelo
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.5977011494252874